P1-AnalyzeTrades/data/*
P1-AnalyzeTrades/output/*
# P1-AnalyzeTrades/mlruns/*
P1-AnalyzeTrades/mlruns/264286517726337548/*
P1-AnalyzeTrades/.env
P1-AnalyzeTrades/build
P1-AnalyzeTrades/.ipynb_checkpoints
__pycache__