[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "==1.22.0"
sklearn = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.8"
