[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
## dtreeviz = "*"
ipykernel = "*"
joblib = "*"
matplotlib = "*"
numpy = "==1.19.3" # due to error in 1.19.4
pandas = "*"
patsy = "*"
## pydotplus = "*"
shap = "*"
sklearn = "*"
yfinance = "*"

[dev-packages]

[requires]
python_version = "3.8"
