[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pywin32 = ">=301" # for security

[packages]
dill = "*"
## dtreeviz = "*"
hyperopt ="*"
ipykernel = "*"
joblib = "*"
gunicorn ="*"
h2o = "==3.34.0.7" # to ensure models work 
lightgbm = "*"
matplotlib = "*" # to make sure shap dependence plots work
mlflow = "*"
numpy = "*"
pandas = "*"
pandas_datareader = "*"
patsy = "*"
## pydotplus = "*"
pytest = "*"
shap = "*" # to ensure explainers work
scikit-learn = "*" # to ensure models work 
statsmodels = "*"
yfinance = "*"
black = "*"
openapi-schema-validator = "*"

[requires]
python_version = "3.9.10"
