[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
ipykernel = "*"
jupyter_contrib_nbextensions = "*"
jupyter_nbextensions_configurator = "*"
jupytext = "*"
# pywin32 = ">=301" # for security

[packages]
dill = "*"
## dtreeviz = "*"
hyperopt ="*"
joblib = "*"
gunicorn ="*"
h2o = "==3.34.0.7" # to ensure models work 
lightgbm = "*"
matplotlib = "*" # 3.5.1 has errors w heroku
mlflow = "*"
numpy = "*" #  1.21.5 has errors w heroku
pandas = "*"
pandas_datareader = "*"
papermill = "*"
patsy = "*"
## pydotplus = "*"
pytest = "*"
rst2pdf = "*"
shap = "*" # to ensure explainers work
scikit-learn = "==1.0.2" # to ensure models work 
sphinx = "*"
statsmodels = "*"
streamlit = "*"
yfinance = "*"
black = "*"
openapi-schema-validator = "*"
jupyter-black = "*"
nasdaq-data-link = "*"

[requires]
python_version = "3.9.10"
