<!doctype html>
<html>
<style>
body{
    background-color: #d9d9d9;
}
form {
    margin: auto;
    width: 35%;
}.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style><head>
    <title>Analyze Trades App</title>
</head>
<center>
<br>
This is a sample model to to predict the return of an individual trade given starting characteristics
<br>
Version 0.01 - Stanley W
<br>
Uses gradient boosting from sklearn
<br>
<a href="https://github.com/sws144/quant-trading/tree/master/P1-AnalyzeTrades">GitHub Link</a>  
<br>
<a href="https://titanic-model-app.herokuapp.com/doc">Documentation Link</a>  
<br>
</center>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        <br> CLOSE_VIX:
        <input name="Q('CLOSE_^VIX')" type="number" required>
        <br>
        <br> AAII_SENT_BULLBEARSPREAD:
        <input name="Q('AAII_SENT_BULLBEARSPREAD')" type="number" required>
        <br>
        <br> YEARS_TO_NORMALIZATION:
        <input name="Q('YEARS_TO_NORMALIZATION')" type="number" required>
        <br>
        <br> IMPLIED_P_E:
        <input name="Q('IMPLIED_P_E')" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }} 
            <br>
        {% endfor %}
        <br>
        <br> Predicted Return (e.g. 0.01 = 1%):
           <p style="font-size:50px">{{ result }}</p>
        <br>
        <img 
            src="current_force.png"
            alt = 'image missing'
            style="max-height: 500px; max-width: 500px;"
        >      
    {% endif %}
  
</div></html>